# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

### Some of the key takeaways from the course
**Objectives:**
* Python
* JavaScript
* R
* Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Scikit-learn
5. Tensorflow
6. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|R Studio|

# Introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [50]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [51]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: 
Mayank Vachhani